.main-chat
  .main-chat__group-data
    .gruop
      .group__name
        = @group.name
      .group__member
        Member : 
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "group-edit", method: :GET do
      Edit
  .main-chat__chat-list
    .messages
      = render @messages
  .main-chat__chat-form
    .new-message
      .new-message__form
        = form_for [@group, @message] do |f|
          .form
            .form-input
              = f.text_field :content, class: 'form-input__message', placeholder: 'type a message'
              .form-input__mask
                = f.label :image, class: 'form-input__mask--image' do
                  = icon('fas', 'image')
                  = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'