.main-chat
  .main-chat__group-data
    .gruop
      .group__name
        Group
      .group__member
        Member：t.y
    = link_to edit_group_path(current_user), class: "group-edit", method: :GET do
      Edit
  .main-chat__chat-list
    .chat-data
      .chat-data__user-data
        .chat-data__user-data--name
          t.y
        .chat-data__user-data--day
          2020/06/08(Mon) 23:23:00
      .caht-data__message
        Hello
  .main-chat__chat-form
    .new-message
      .new-message__form
        = form_for [@group, @message] do |f|
          .form
            .form-input
              = f.text_field :content, class: 'form-input__message', placeholder: 'type a message'
              .form-input__mask
                = f.label :image, class: 'form-input__mask--image' do
                  = icon('fas', 'image')
                  = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'