.side-bar
  .side-bar__user-name
    .top-item
      .top-item__user-name
        = current_user.name
      .top-item__icon
        = link_to new_group_path do
          = icon('far', 'edit', class: 'top-item__icon--edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'top-item__icon--cog')
  .side-bar__groups-lists
    .group-data
      - current_user.groups.each do |group|
        .group-data__group
          = link_to group_messages_path(group), method: :GET do
            .group-data__group--name
              = group.name
            .group-data__group--message
              No message